<div id="grid">
  <h1>Canon Grid</h1>
  <hr />

  <%= link_to(show_users_grids_path(type: "girl")) do %>
    <button class="btn btn-large btn-block" type="button"><h2>Access to Canon Girl Grid</h2></button>
  <% end %>
</div>
