<div><%= link_to "Extend facebook access token", facebook_index_url(protocol: "https") %></div><br />
<div>Click the link above for extend facebook access token.</div><br />
<div>If you do not want to confirm, simply ignore this message.</div>

