<p>สวัสดีค่ะ</p>
<p>
รบกวนคลิกเข้าไปที่ลิงค์ด้านล่าง เพื่ออนุญาตให้ระบบของเรา นำรูปขึ้นสู๋ Life Space ด้วยค่ะ
</p>
<p>
ในกรณีที่เคยกดมาแล้ว เป็นไปได้ว่าใบอนุญาติกำลังจะหมดอายุ รบกวนคลิกลิงค์ด้านล่างเพื่อต่ออายุด้วยค่ะ
</p>

<div><%= link_to "Extend facebook access token", facebook_index_url(protocol: "https") %></div><br />
<div>มีคำถามอะไร ติดต่อได้ที่ Facebook Group นะคะ</div>