<%= link_to "Extend instagram access token", instagram_index_path %>
<div>Click the link above for extend instagram access token</div>
<div>If you do not want to confirm, simply ignore this message.</div>