<div id="extend_access_token">
	<%= link_to "Extend Access Token", extend_access_token_manage_index_url %>
</div>

<div id="pull_all_photos">
	<%= link_to "Pull All Photos", pull_photos_manage_index_url %>
</div>

<div>
	<%= link_to("Connect with Instagram", connect_instagram_index_url) %>
</div>