<div id="pull_facebook_photos">
	<%= link_to "Pull Facebook Photos", pull_photos_facebook_manage_index_url %>
</div>
<div id="pull_instagram_photos">
	<%= link_to "Pull Instagram Photos", pull_photos_instagram_manage_index_url %>
</div>