<%= link_to("Create Admin", new_manage_admin_url) %>

<h3>Management</h3>
  <table>
		<tr>
			<th>Username</th>
			<th colspan="2">Action</th>
		</tr>
		<tr>
			<%= render partial: "list_admins", collection: @admins, as: "admin" %>
		</tr>
	</table>