$font-white-color: #FFFFFF;
$font-black-color: #333333;
$pro-font-white-color: #FFFFFF;
$girl-font-black-color: #333333;

$pro-grid-color: #006DCC;
$pro-grid-color-gradient_1: #0088CC;
$pro-grid-color-gradient_2: #0044CC;
$pro-grid-color-hover: #003BB3;

$girl-grid-color: #F5F5F5;
$girl-grid-color-gradient_1: #FFFFFF;
$girl-grid-color-gradient_2: #E6E6E6;
$girl-grid-color-hover: #d9d9d9;
