$font-white-color: #FFFFFF;
$font-black-color: #333333;
$font-blue-color: #005580;
$pro-font-white-color: #FFFFFF;
$girl-font-black-color: #333333;

$pro-grid-color: #006DCC;
$pro-grid-color-gradient_1: #0088CC;
$pro-grid-color-gradient_2: #0044CC;
$pro-grid-color-hover: #003BB3;

$girl-grid-color: #FD93B3;
$girl-grid-color-gradient_1: #FD6593;
$girl-grid-color-gradient_2: #FD2063;
$girl-grid-color-hover: #FD709B;

$user-btn-color: #F5F5F5;
$user-btn-color-gradient_1: #FFFFFF;
$user-btn-color-gradient_2: #E6E6E6;
$user-btn-color-hover: #d9d9d9;

$grid-layout: #08C;

$botton-user-gradient_1: #D9D9D9;
$botton-user-gradient_2: #A79D90;

$photo-description-color: #3B5998; 

$photo_item_border: #E5E5E5;
$photo_item_bg_color_deleted: #A9F5A9;
$photo_item_bg_color_not_deleted: #F5A9D0;

$photo_item_image_width: 190px;
$photo_item_corner_stamp: 387px;