/*
//////////////////////////////////////////////////////////////////////////////////////////////

	RESET

//////////////////////////////////////////////////////////////////////////////////////////////
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } :focus { outline: 0; } ins { text-decoration: none; } del { text-decoration: line-through; } table { border-collapse: collapse; border-spacing: 0; }

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; } .clearfix { display: inline-block; } /* Hide from IE Mac \*/ .clearfix { display: block; } /* End hide from IE Mac */ .none { display: none; } /* End Clearfix */

iframe{display:block;}

.left{text-align:left;}
.center{text-align:center;}
.right{text-align:right;}

.clear{
	clear:both;
	height:0px;
	}

.inv{
	display:none;
}
em{ font-style:italic; }
a img { border: none; }


/*
//////////////////////////////////////////////////////////////////////////////////////////////

	BODY

//////////////////////////////////////////////////////////////////////////////////////////////
*/

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzKRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}


@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url('http://themes.googleusercontent.com/font?kit=1bFto_RrW-wgLetD2HhJU_esZW2xOQ-xsNqO47m55DA') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url('http://themes.googleusercontent.com/font?kit=33_del8_OqHYp5o7lJ03zEbnXQ06sCSpaytluCdpFnY') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url('http://themes.googleusercontent.com/font?kit=DPu3R_w4R5pjnst7X4FGRhsxEYwM7FgeyaSgU71cLG0') format('woff');
}




html {
	font-size: 100%;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body{
	background: repeat url(/assets/light_toast.png);
	height:auto;
	color:#888;
	font-family:"Open Sans", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 22px;
	margin:0; padding:0;
	-webkit-transition-property: font-size;
	   -moz-transition-property: font-size;
	     -o-transition-property: font-size;
	        transition-property: font-size;
	-webkit-transition-duration: 0.5s, 0.5s;
	   -moz-transition-duration: 0.5s, 0.5s;
	     -o-transition-duration: 0.5s, 0.5s;
	        transition-duration: 0.5s, 0.5s;
	-webkit-transition-timing function: linear, ease-in;
	   -moz-transition-timing function: linear, ease-in;
	     -o-transition-timing function: linear, ease-in;
	        transition-timing function: linear, ease-in;
    -webkit-text-size-adjust: 100%;
}
input, button, select, textarea {
	font-family:"Open Sans", Helvetica, Arial, sans-serif;
}

/*
//////////////////////////////////////////////////////////////////////////////////////////////

	LINKS

//////////////////////////////////////////////////////////////////////////////////////////////
*/

a{
text-decoration:none;
  -webkit-transition: all 0.4s ease;  /* Saf3.2+, Chrome */
     -moz-transition: all 0.4s ease;  /* FF4+ */
       -o-transition: all 0.4s ease;  /* Opera 10.5+ */
          transition: all 0.4s ease;
}

a:active, a:visited{}

a:hover{ color:rgba(229, 114, 113, 1); }


/*
//////////////////////////////////////////////////////////////////////////////////////////////

	HEADINGS

//////////////////////////////////////////////////////////////////////////////////////////////
*/

h1, h2, h5, h6{
	color:#5a5a5a;
	text-shadow:#fff 0px 1px 0px;
	/*font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;*/
	font-family:"Roboto-Thin", Helvetica, Arial, sans-serif;
}
h1 a, h2 a, h3 a, h5 a, h6 a{
	color:#5a5a5a;
}

h4 a, h3 {
	color:#ffffff;
	font-family:"Roboto-Thin", Helvetica, Arial, sans-serif;
}

h1{
	font-size:48px;
	line-height:60px;
	margin-bottom:10px;
}
h2{
	font-size:36px;
	line-height:39px;
	margin-bottom:10px;
}
h3{
	font-size:30px;
	line-height:30px;
	margin-bottom:10px;
	text-shadow:0 1px 1px rgba(0, 0, 0, .4);
}
h4{
	font-size:18px;
	line-height:24px;
	margin-bottom:10px;
}
h5{
	font-size:16px;
	line-height:22px;
	margin-bottom:8px;
}
h6{
	font-size:14px;
	line-height:17px;
	margin-bottom:5px;
}

.small_titles{
	font-size:18px;
}
.small_titles span{

	padding:0 20px 0 0;
}


/*
//////////////////////////////////////////////////////////////////////////////////////////////

	TYPOGRAPHY

//////////////////////////////////////////////////////////////////////////////////////////////
*/

#main p{ margin-bottom:20px; }

strong{ color:#5a5a5a; font-weight:bold; }

small{ font-size:85%;}




/*
//////////////////////////////////////////////////////////////////////////////////////////////

	GRID

//////////////////////////////////////////////////////////////////////////////////////////////
*/


.isotope-item a img, #show_users div.item img {
box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
-moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
-webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
padding:5px;
background-color: white;
border:none;
/*width:180px;*/
}


#photo #user_photo img {
	box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
-moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
-webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
padding:15px;
background-color: white;
border:none;
width: 100%

}

.image_grid .overflow img{
	display:block;
	width:100%;
}

.image_grid .overflow:hover .slide_infos{
	opacity:1;
}
.image_grid .slide_infos .zoom{
	background:url(images/magnify_big.png) no-repeat;
	display:block;
	position:absolute;
	top:50%;
	left:50%;
	margin:-62px 0 0 -31px;
	width:62px; height:62px;
	text-indent:-9999px;
}
.image_grid .slide_infos .infos, .infos {
	display:block;
	position:absolute;
	bottom:10px;
	left:3px;
	margin:3px;

	text-align:center;
	opacity:0;

	/*css border*/
	box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
-moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
-webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
padding: 5px;
border: none;
width: 170px;

background: rgba(0, 0, 0, 0.7);
background: linear-gradient(top, transparent, rgba(0, 0, 0, .7));
background: -o-linear-gradient(top, transparent, rgba(0, 0, 0, .7));
background: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, .7));
background: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, .7));
background: -ms-linear-gradient(top, transparent, rgba(0, 0, 0, .7));

	-webkit-transition: all 0.4s ease;
-moz-transition: all 0.4s ease;
-o-transition: all 0.4s ease;
transition: all 0.4s ease;

}

.corner-stamp .infos {
	width: 353px;
}
.infos.show {
	opacity:1;
}

.infos:hover{
		-webkit-transition: all 0.4s ease;
-moz-transition: all 0.4s ease;
-o-transition: all 0.4s ease;
transition: all 0.4s ease;
}



#filters{
	position:relative;
	padding:5px 0 0 0;
	margin-bottom:20px;
}
#filters ul{

	padding:0 0 0 20px;
	position:absolute;
	top:7px;
	right:0;
}
#filters ul li{
	display:inline;
	line-height:20px;
}
#filters ul li a, #filter .btn, #filter .btn-primary {
	display:inline-block;
	font-weight:normal;
	padding:5px 15px;
	height:30px;
	color:#5A5A5A;
	text-shadow:none;
	background: rgba(235, 235, 235, 1);
	border:none;
		/* CSS3 SHADOW */
	-webkit-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.8), 0px 1px 2px 0px rgba(0, 0, 0, 0.2) inset;
	   -moz-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.8), 0px 1px 2px 0px rgba(0, 0, 0, 0.2) inset;
	     -o-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.8), 0px 1px 2px 0px rgba(0, 0, 0, 0.2) inset;
	        box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.8), 0px 1px 2px 0px rgba(0, 0, 0, 0.2) inset;
	/* CSS3 ROUND CORNER */
	-webkit-border-radius:		4px 4px 4px 4px;
	 -khtml-border-radius:		4px 4px 4px 4px;
	   -moz-border-radius:		4px 4px 4px 4px;
	     -o-border-radius:		4px 4px 4px 4px;
	        border-radius:		4px 4px 4px 4px;
	 /* CSS3 TRANSITION*/
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;

}



#filter .checked, #filter .checked:hover, #filter .btn:hover

{
	font-weight:normal;
	background:#000;
	color:#000;
	text-shadow:none;
	background:rgba(229, 114, 113, 1);
	/* CSS3 SHADOW */
	-webkit-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.8), 0px 1px 2px 0px rgba(0, 0, 0, 0.2) inset;
	   -moz-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.8), 0px 1px 2px 0px rgba(0, 0, 0, 0.2) inset;
	     -o-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.8), 0px 1px 2px 0px rgba(0, 0, 0, 0.2) inset;
	        box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.8), 0px 1px 2px 0px rgba(0, 0, 0, 0.2) inset;
	/* CSS3 ROUND CORNER */
	-webkit-border-radius:		4px 4px 4px 4px;
	 -khtml-border-radius:		4px 4px 4px 4px;
	   -moz-border-radius:		4px 4px 4px 4px;
	     -o-border-radius:		4px 4px 4px 4px;
	        border-radius:		4px 4px 4px 4px;
}


/**** disabling Isotope CSS3 transitions ****/

.grid_home_item.no-transition,
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}



    .one-full{
        margin-left: 20px;
    }

    .one-half,
	.one-third,
	.two-third,
	.one-fourth,
	.two-fourth,
	.three-fourth,
	.one-fifth,
	.two-fifth,
	.three-fifth,
	.four-fifth{
        float: left;
        margin-left: 20px;
    }

    .one-half.last,
	.one-third.last,
	.two-third.last,
	.one-fourth.last,
	.two-fourth.last,
	.three-fourth.last,
	.one-fifth.last,
	.two-fifth.last,
	.three-fifth.last,
	.four-fifth.last
	{ margin-left: 20px; }

    .one-full { 		width: 920px; }
    .one-half { 		width: 450px; }
    .one-third { 		width: 293px; }
    .two-third { 		width: 606px; }
    .one-fourth {		width: 215px; }
    .two-fourth { 		width: 450px; }
    .three-fourth { 	width: 685px; }
    .one-fifth { 		width: 168px; }
   	.two-fifth { 		width: 356px; }
   	.three-fifth { 		width: 544px; }
   	.four-fifth { 		width: 732px; }


    #page_content .one-half { 		width: 320px; }
    #page_content .one-third { 		width: 200px; }
    #page_content .two-third { 		width: 440px; }
    #page_content .one-fourth {		width: 140px; }
    #page_content .two-fourth {		width: 320px; }
    #page_content .three-fourth {	width: 500px; }
    #page_content .one-fifth { 		width: 104px; }
   	#page_content .two-fifth { 		width: 248px; }
   	#page_content .three-fifth { 	width: 392px; }
   	#page_content .four-fifth { 	width: 536px; }



/* custom */
.work-desc {background-color:white;}
#layouts {display:none;}
#filter {float:right;}
.inst-icon {
	background: url('/assets/instagram_icon.png') no-repeat;
	width:48px;
	height:48px;
	float:left;
}
.fb-icon {
	background: url('/assets/facebook_icon.png') no-repeat;
	width:48px;
	height:48px;
	float:left;
}
.inst-icon:hover, .fb-icon:hover {
	opacity:0.6;
}
.filtersourceicon {display:block;}

#title_bar {
	background:white;
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
	-o-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15)
}
#title_bar .content {
	width: 100%;
	max-width: 920px;
	margin: 0 auto;
	padding: 10px 0;
}
#title_bar .content a{
	padding: 0px 10px;
	letter-spacing: 1px;
	color: #333;
	display: inline-block;
	cursor:pointer;
}

.image_single {
	/*position:relative;
	width:100%;*/
}
#photo #user_photo {
	position: relative;
	padding-top:20px;
}

#photo_description {
	position:absolute;
	bottom:10%;
	left:50px;
	width:90%;
	text-align: left;
}
#photo_description span { 
   color: white; 
   font:  45px 'Roboto-Thin',Helvetica, Sans-Serif; 
   letter-spacing: 0px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(236, 28, 44, 0.6);
   padding: 10px; 
}
#nickname {
	font: normal 16px 'Roboto-Thin', Helvetica, Sans-Serif;
	display: none;
}
#show_users h1 {display:none;}
/*
//////////////////////////////////////////////////////////////////////////////////////////////
 

 TEST HOME GRID  


//////////////////////////////////////////////////////////////////////////////////////////////
 */
.ri-grid{
	margin: 30px auto 30px;
	position: relative;
	height: auto;
}

.ri-grid ul {
	list-style: none;
	display: block;
	width: 100%;
	margin: 0;
	padding: 0;
}

/* Clear floats by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */

.ri-grid ul:before,
.ri-grid ul:after{
	content: '';
    display: table;
}

.ri-grid ul:after {
    clear: both;
}

.ri-grid ul {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
} 

.ri-grid ul li {
	-webkit-perspective: 400px;
	-moz-perspective: 400px;
	-o-perspective: 400px;
	-ms-perspective: 400px;
	perspective: 400px;	
	margin: 0;
	padding: 0;
	float: left;
	position: relative;
	display: block;
	overflow: hidden;
	background: #000;
}

.ri-grid ul li a{
	display: block;
	outline: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	background-size: 100% 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #333;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

/* Grid wrapper sizes */
.ri-grid-size-1{
	width: 55%;
}
.ri-grid-size-2{
	width: 100%;
}
.ri-grid-size-3{
	width: 100%;
	margin-top: 0px;
}

/* Shadow style */
.ri-shadow:after,
.ri-shadow:before{
	content: "";
	position: absolute;
	z-index: -2;
	bottom: 15px;
	left: 10px;
	width: 50%;
	height: 20%;
	max-width: 300px;
	max-height: 100px;
	box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	transform: rotate(-3deg);
}
.ri-shadow:after{
	right: 10px;
	left: auto;
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	-ms-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	transform: rotate(3deg);
}

.ri-grid-loading:after,
.ri-grid-loading:before{
	display: none;
}

.ri-loading-image{
	display: none;
}

.ri-grid-loading .ri-loading-image{
	position: relative;
	width: 30px;
	height: 30px;
	left: 50%;
	margin: 100px 0 0 -15px;
	display: block;
}
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);


/* General Demo Style */


.container2 {
	position: relative;
	background: transparent url(../images/light.png) fixed no-repeat center top;
}

.codrops-header{
	margin: 10px;
	padding: 20px 10px 10px 10px;
	position: relative;
	display: block;
    text-align: center;
	text-shadow: 0 1px 1px rgba(255,255,255,0.7);
}

.codrops-header h1,
.codrops-header-special h1{
	font-size: 26px;
	line-height: 26px;
	margin: 0;
	position: relative;
	font-weight: 700;
	color: #000;
}

.codrops-header h2,
.codrops-header-special h2{
	font-size: 14px;
	line-height: 14px;
	font-weight: 300;
	margin: 0;
	padding: 3px 5px;
	margin: 10px 0 5px;
	color: #000;
	display: inline-block;
}

/* Header Style */
.codrops-top {
	line-height: 24px;
	font-size: 11px;
	background: #fff;
	background: rgba(255, 255, 255, 0.8);
	text-transform: uppercase;
	z-index: 9999;
	position: relative;
	box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
}

.codrops-top a {
	padding: 0px 10px;
	letter-spacing: 1px;
	color: #333;
	display: inline-block;
}

.codrops-top a:hover {
	background: rgba(255,255,255,0.3);
}

.codrops-top span.right {
	float: right;
}
.codrops-top span.right a {
	float: left;
	display: block;
}

.codrops-info {
	padding: 20px;
	margin: 0 auto;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255,255,255,0.7);
	line-height: 22px;
}

/* Demo Buttons Style */
.codrops-demos{
    text-align: center;
	display: block;
	line-height: 30px;
	padding: 5px 0px;
}
.codrops-demos a{
    display: inline-block;
	margin: 0px 10px;
	font-weight: bold;
	color: #333;
	line-height: 20px;	
	font-size: 12px;
	background: #fff;
	background: rgba(255,255,255,0.4);
	padding: 0 4px;
}
.codrops-demos a:hover{
	border-bottom: 2px solid #f7bb6d;
}
.codrops-demos a.current-demo,
.codrops-demos a.current-demo:hover{
	border-bottom: 2px solid #f7bb6d;
	color: #777;
}

.codrops-header-special{
	position: absolute;
	top: 80px;
	left: 0px;
	text-align: left;
}

.codrops-header-special h2{
	padding: 5px 20px 5px 10px;
	color: #fff;
	line-height: 26px;
	background: #000;
	background: rgba(0,0,0,0.8);
}

.codrops-header-special h1{
	background: #000;
	background: rgba(0,0,0,0.8);
	display: inline-block;
	font-size: 32px;
	line-height: 32px;
	padding: 20px;
	color: #fff;
	text-shadow: 0 0 1px #fff;
}

.codrops-header-special .codrops-demos{
	text-align: left;
}

.codrops-header-special .codrops-demos a{
	background: rgba(255,255,255,1);
}

.codrops-header-special .codrops-info{
	color: #fff;
	background: #000;
	background: rgba(0,0,0,0.8);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	padding: 5px 20px 5px 10px;
	line-height: 26px;
	margin-top: 30px;
	text-align: left;
}

.fb-comments{width: 100% !important;}
.fb-comments iframe[style]{width: 100% !important;}
.fb-like-box{width: 100% !important;}
.fb-like-box iframe[style]{width: 100% !important;}
.fb-comments span{width: 100% !important;}
.fb-comments iframe span[style]{width: 100% !important;}
.fb-like-box span{width: 100% !important;}
.fb-like-box iframe span[style]{width: 100% !important;}


.fancybox-wrap { 
  top: 10px !important; 

}

.fancybox-type-iframe .fancybox-nav {
    width: 60px;       
}

.fancybox-type-iframe .fancybox-nav span {
    visibility: visible;
    opacity: 0.8;
}
.fancybox-next {
	right: -60px;
}
.fancybox-prev {
	left: -60px;
}

#photo_description span.caption {
	color:#ffffff;
	font-family: Helvetica, Arial, sans-serif;
	text-shadow:0 1px 1px rgba(0, 0, 0, .4);
	font-size:18px;
	font-weight: lighter;
	line-height:24px;
	background: rgba(0, 0, 0, 0.6);
}
.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a {
	background-color: rgba(229, 114, 113, 1);
	background-image: -moz-linear-gradient(top, #E57, #E57271);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#E57), to(#E57271));
	background-image: -webkit-linear-gradient(top, #E57, #E57271);
	background-image: -o-linear-gradient(top, #E57, #E57271);
	background-image: linear-gradient(to bottom, #E57, #E57271);
	background-repeat: repeat-x;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#E57', endColorstr='#E57271', GradientType=0);

}

/*dropdown menu*/

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

::selection {
    background: transparent; 
}

::-moz-selection {
    background: transparent; 
}

.dropdown-menu {

background: white;
border-radius: inherit;
border: 1px solid rgba(0,0,0,0.17);
box-shadow: 0 0 5px rgba(0,0,0,0.1);
font-weight: normal;
-webkit-transition: all 0.5s ease-in;
-moz-transition: all 0.5s ease-in;
-ms-transition: all 0.5s ease-in;
-o-transition: all 0.5s ease-in;
transition: all 0.5s ease-in;
list-style: none;
opacity: 0.95;
-webkit-border-radius: 4px 4px 4px 4px;
-khtml-border-radius: 4px 4px 4px 4px;
-moz-border-radius: 4px 4px 4px 4px;
-o-border-radius: 4px 4px 4px 4px;
border-radius: 4px 4px 4px 4px;
}

.dropdown-menu a {
	padding: 10px 20px;
}

#filter a{
font: 16px 'Roboto-Light',Helvetica, Sans-Serif;
}
#filter ul li a{
font: 20px 'Roboto-Thin',Helvetica, Sans-Serif;
text-shadow: 0 1px 1px rgba(0, 0, 0, .4);

}