#wrap {
  width: 795px;
  margin: 0 auto;
}

a{
  text-decoration: none !important;
}

div.menu-admin {
  a {
  	margin-right: 10px;
  }
}

div.remember {
	input, label{
		margin: 0 2px;
		display: inline-block;
		vertical-align: middle;
	}
}