html,body {
	margin:0;
	padding:0;
	height:100%; /* needed for wrap min-height */
}

#wrap {

  margin: 0 auto;
  height:auto !important; 			/* real browsers */
	height:100%; 									/* IE6: treaded as min-height*/
	min-height:100%; 							/* real browsers */
}

#wrap {width:auto;}

 


a{
  text-decoration: none !important;
}

div.menu-admin {
  a {
  	margin-right: 10px;
  }
}

div.remember {
	input, label{
		margin: 0 2px;
		display: inline-block;
		vertical-align: middle;
	}
}
	
.hidden {
	display: none;
}