//= require bootstrap
//= require bootstrap-responsive
@import "variables";

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

#show_users{
  h1 {
    float: left;
    margin: 0;
  }

  #layouts {    
    float: right;

    h4 {
      float: left;
      margin: 10px;  
      color: $font-black-color;   
    }
    div.layouts {
      float: left;
      margin: 10px; 
      cursor: pointer;    
      color: $grid-layout;  
    }

    div.layouts:hover {
      cursor: pointer; 
      color: $font-blue-color;  
    }
  }

  div.filters {
    float: left;
  }

  #container {
    clear: both;
  }

  div.item {
    margin: 1px;
    img {
      width: 150px;
      border: solid 1px gray;
      border-radius: 3px;
      margin: 4px;
    }
  }
}

@mixin drop-shadow {
  -moz-box-shadow: 3px 3px 3px #B5B5B5;
  -webkit-box-shadow: 3px 3px 3px #B5B5B5;
  box-shadow: 3px 3px 3px #B5B5B5;
}

.frame {
  @include drop-shadow;
  border-radius: 15px;
  border: 5px solid black;
  margin: 10px;
  padding: 10px;
}

#fb {
  margin: 0 auto;
  text-align: center;
}

div.fb-like {
  clear: both;
  display: block;
}

#photo {
  width: 820px;
  margin: 0 auto;

  #nickname {
    float: left;
    h1{
      margin: 0;
    }
  }

  #social_plugins {
    float: right;
  }

  #user_photo {
    text-align: center;
    img{
      border: solid 1px gray;
      border-radius: 3px;
      padding: 3px;
      margin: 2px;
      background-color: black;
    }
  }

  #photo_description{
    width: 580px;
    margin-left: auto ;
    margin-right: auto ;
    color: $photo-description-color;
  }

  div.fb-comments {
    margin: 2px 175px;
    padding: 3px;
  }
}

.menu-panel {
  width: 80%;
  text-align: center;
  border: solid 3px gray;
  border-radius: 5px;
  padding: 20px;
  margin: 10px auto;
}

#grid{
  .btn {
    height: 100px !important;
    margin: 10px;
    background-color: $girl-grid-color !important;
    background-image: -moz-linear-gradient(center top , $girl-grid-color-gradient_1, $girl-grid-color-gradient_2) !important;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from($girl-grid-color-gradient_1), to($girl-grid-color-gradient_2));
    background-image: -webkit-linear-gradient(top, $girl-grid-color-gradient_1, $girl-grid-color-gradient_2);
    background-image: -o-linear-gradient(top, $girl-grid-color-gradient_1, $girl-grid-color-gradient_2);
    background-image: linear-gradient(to bottom, $girl-grid-color-gradient_1, $girl-grid-color-gradient_2);
    color: $font-white-color !important;
  }

  .btn:hover {
    color: $font-white-color !important;
    background-color: $girl-grid-color-gradient_2 !important;
    *background-color: $girl-grid-color-hover !important;
  }

  .btn-primary {
    color: $font-white-color !important;
    background-color: $pro-grid-color !important;
    background-image: -moz-linear-gradient(center top , $pro-grid-color-gradient_1, $pro-grid-color-gradient_2) !important;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from($pro-grid-color-gradient_1), to($pro-grid-color-gradient_2));
    background-image: -webkit-linear-gradient(top, $pro-grid-color-gradient_1, $pro-grid-color-gradient_2);
    background-image: -o-linear-gradient(top, $pro-grid-color-gradient_1, $pro-grid-color-gradient_2);
    background-image: linear-gradient(to bottom, $pro-grid-color-gradient_1, $pro-grid-color-gradient_2);
  }

  .btn-primary:hover {
    color: $font-white-color !important;
    background-color: $pro-grid-color-gradient_2 !important;
    *background-color: $pro-grid-color-hover !important;
  }
}

#filter{
  .btn {
    height: 26px;
    margin: 5px;
    background-color: $user-btn-color;
    background-image: -moz-linear-gradient(center top , $user-btn-color-gradient_1, $user-btn-color-gradient_2);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from($user-btn-color-gradient_1), to($user-btn-color-gradient_2));
    background-image: -webkit-linear-gradient(top, $user-btn-color-gradient_1, $user-btn-color-gradient_2);
    background-image: -o-linear-gradient(top, $user-btn-color-gradient_1, $user-btn-color-gradient_2);
    background-image: linear-gradient(to bottom, $user-btn-color-gradient_1, $user-btn-color-gradient_2);
    color: $font-black-color;
  }

  .btn:hover {
    color: $font-black-color;
    background-color: $user-btn-color-gradient_2;
    *background-color: $user-btn-color-hover;
  } 

  .btn-primary {
    color: $font-white-color;
    background-color: $pro-grid-color;
    background-image: -moz-linear-gradient(center top , $pro-grid-color-gradient_1, $pro-grid-color-gradient_2);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from($pro-grid-color-gradient_1), to($pro-grid-color-gradient_2));
    background-image: -webkit-linear-gradient(top, $pro-grid-color-gradient_1, $pro-grid-color-gradient_2);
    background-image: -o-linear-gradient(top, $pro-grid-color-gradient_1, $pro-grid-color-gradient_2);
    background-image: linear-gradient(to bottom, $pro-grid-color-gradient_1, $pro-grid-color-gradient_2);
  }

  .btn-primary:hover {
    color: $font-white-color;
    background-color: $pro-grid-color-gradient_2;
    *background-color: $pro-grid-color-hover;
  }

  .checked {
    color: $font-black-color;
    background-color: $botton-user-gradient_1;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from($botton-user-gradient_1), to($botton-user-gradient_2));
    background-image: -webkit-linear-gradient(top, $botton-user-gradient_1, $botton-user-gradient_2);
    background-image: -o-linear-gradient(top, $botton-user-gradient_1, $botton-user-gradient_2);
    background-image: linear-gradient(to bottom, $botton-user-gradient_1, $botton-user-gradient_2);
    background-image: -moz-linear-gradient(top, $botton-user-gradient_1, $botton-user-gradient_2);
  }

  .checked:hover {
    color: $font-black-color;
    background-color: $botton-user-gradient_2;
    *background-color: $botton-user-gradient_1;
  }
}







